<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>템플리 변수 연습</title>
</head>
<body>
    <h2>flask로 웹개발시 필요한 데이터 처리(jinja2형식) 연습</h2>
    {#주석 처리기본 형식(단일행, 다중 행 처리)#}
    {#
# jinja2 : 파이썬용 웹 템플릿 엔진
html  안에 변수, 반복문, 조건문 등을 사용하여 동적인 웹페이지를 만들 때 사용합니다.
일반적으로 flask, django, ansible 등에서 사용됩니다.

1. 기본 기호(구분자)
    jinja2가 이건 일반 텍스트가 아니라 코드다라고 인식하는 3가지 약속입니다.
2. 변수 출력 및 사칙연산
    변수를 화면에 찍거나, 간단한 계산을 수행합니다.
    #}
    {% set name = "홍길동" %}
    {% set count = 20 %}
    <h2>선언된 변수 호출</h2>
    <h3>이름 : {{name}}</h3>
    <h3>갯수 : {{count}}</h3>
    <h3>덧셈(+5) : {{count+5}}</h3>
    <h3>비교(count>5) : {{count>5}}</h3>
{#
ex) 학생 이름, 국어, 영어 점수 선언  ==>   이름, 점수, 총점, 평균 출력...
#}
{% set stdName = "마길동" %}
{% set kor = 70 %}
{% set eng = 80 %}
<h3>학생 성적</h3>
<h4>이름:{{setName}}</h4>
<h4>국어:{{kor}}</h4>
<h4>영어:{{eng}}</h4>
<h4>총점:{{kor+eng}}</h4>
<h4>평균:{{((kor+eng)/2)|int}}</h4>
<h2>파이프 기호 기본 처리</h2>
<h3>{{76.5|int}}</h3>
<h3>{{70|float}}</h3>
<h3>{{3.14159|round(2)}}</h3>
<h3>{{3.6|round(1)}}</h3>
<h3>{{-10|abs}}</h3>
<h3>{{'hello'|upper}}</h3>
<h3>{{'WORDS'|lower}}</h3>
<h3>{{'     hello   '|trim}}</h3>
<h3>{{'동해물과 백두산이 마르고 닳도록'|truncate(10)}}</h3>
<h3>{{'hello world'|replace('world','korea')}}</h3>
<h3>{{ ['사과','배', '포도']|join(', ') }}</h3>
<h3>{{['a','b','c']|length}}</h3>
<h3>{{[70,80,90]|sum}}</h3>
<h3>{{my_score|default(0)}}</h3>
<h3>{{'<br>굵게</br>'|safe}}</h3>
<h2>숫자형 format 적용 처리</h2>
{% set avg = 76.6666 %}
{# 소수점 둘째 자리까지 표현 #}
<h3> : {{"%.2f" | format(avg) }}</h3>
<h3> {{"%d" | format(3422.2222) }} </h3>
<h3> {{"%05d" | format(7) }} </h3>
<h3> {{"{:,}".format(10000000) }} </h3>
</body>
</html>