<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>반복문 처리</title>
</head>
<body>
    <h2>반복문 처리</h2>
    {#
    # for loop의 기본 형식
    1. count형 데이터 처리
        for cnt in range(1, 11)
            cnt
        endfor
    ex1) table 안에  tr td 옆으로 2의 배수로 2~30까지 출력하세요..
    #}
    <h3>1~10까지 출력</h3>
    {%for cnt in range(1, 11) %}
        <span>{{cnt}}, </span>
    {%endfor%}
    <h3>테이블 안에서 2의 배수(2~30)</h3>
    <table border="1" width="80%">
        <tr>
        {%for cnt in range(2, 31,2) %}
        <td>{{cnt}}</td>
        {%endfor%}
        </tr>
    </table>
    <h3>테이블 (1~25 5x5)</h3>
    {#  1 6 11 16 21  tr의 시작 태그가 나오고
        5 10 15 20..  tr의 닫는 태그가 조건을 처리하면 5x5 테이블이 만들어진다.
    #}
    <table border="1" width="300px" height="300px">
        <col width="20%"><col width="20%"><col width="20%">
        <col width="20%"><col width="20%">
        {%for cnt in range(1, 26) %}
            {% if cnt%5==1 %}
                <tr>
            {% endif %}
                    <td style="text-align: center">{{cnt}}</td>
            {% if cnt%5==0 %}
                </tr>
            {% endif %}
        {%endfor%}
    </table>
    {#
    ex) 1~9까지 출력  3x3 테이블 출력..
    #}
    <table border="1" width="100pt" height="100pt">
        {%for cnt in range(1, 10) %}
            {%if cnt%3==1 %}
                <tr>
            {% endif %}
                    <td style="text-align: center">{{cnt}}</td>
            {% if cnt%3==0 %}
                </tr>
            {% endif %}
        {%endfor%}
    </table>


</body>
</html>