<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/static/com/bootstrap.min.css" >
    <style>
        td{text-align:center;}
    </style>
    <script src="/static/com/jquery-3.7.1.js"></script>
    <script src="/static/com/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#regBtn").click(function(){
                location.href="dateInsert"
            })
        });
        function goPage(date_no){
            // /empDetail/7369
            location.href="dateDetail/"+date_no

        }
    </script>
</head>

<body>
<div class="jumbotron text-center">
    <h2>데이트 정보조회</h2>

</div>
<div class="container">
    <form id="frm01" class="form"  method="post">

        {#
        partner_name=partner_nameSch, location=locationSch, dateList=dateList
        #}
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <input placeholder="파트너 이름" name="partner_name"  value="{{partner_name}}" class="form-control mr-sm-2" />
            <input placeholder="파트너 사는 곳" name="location"  value="{{location}}" class="form-control mr-sm-2"/>
            <button class="btn btn-info" type="submit">Search</button>
            <button id="regBtn" class="btn btn-primary" type="button">등록</button>
        </nav>
    </form>
    <table class="table table-hover table-striped">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <thead>

        <tr class="table-success text-center">
            <th>번호</th>
            <th>이름</th>
            <th>나이</th>
            <th>직책</th>
            <th>위치</th>
        </tr>
        </thead>
        <tbody>
        {# date_no partner_name partner_age job location#}
        {% for date in dateList %}
        <tr ondblclick="goPage({{date.date_no}})"><td>{{date.date_no}}</td><td>{{date.partner_name}}</td><td>{{date.partner_age}}</td>
            <td>{{date.job}}</td><td>{{date.location}}</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>